* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e9e3ff;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #e5e7eb;
  color: #4b5563;
  border: 1px solid #6b7280;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
  padding: 9px 17px;
  border-radius: 6px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

button > svg {
  margin-right: 7px;
  height: 20px;
  width: 20px;
}

button.button-sm {
  padding: 7px 11px;
  font-size: 12px;
}

button.button-lg {
  padding: 30px 40px;
}

.green {
  color: green;
}

button.button-success {
  background: linear-gradient(0deg, #047857, #047857), linear-gradient(0deg, #ecfdf5, #ecfdf5);
  border: 1px solid #047857;
  padding: 9px 17px 9px 17px;
  border-radius: 6px;
}

button.button-warning {
  background: linear-gradient(0deg, #fbbf24, #fbbf24), linear-gradient(0deg, #fffbeb, #fffbeb);
  border: 1px solid #fbbf24;
  padding: 9px 17px 9px 17px;
  border-radius: 6px;
}

button.button-danger {
  padding: 30px 40px;
  background: linear-gradient(0deg, #f87171, #f87171), linear-gradient(0deg, #fef2f2, #fef2f2);
  border: 1px solid #F87171;
  padding: 9px 17px 9px 17px;
  border-radius: 6px;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .3rem solid white;
}

.avatar > img {
  width: 100%;
}

.avatar-letters {
  background-color: var(--red);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: 'Karla', sans-serif;
}

.avatar-icon {
  background-color: var(--navy);
}

.avatar > svg {
  height: 100%;
  width: 100%;
  transform: translateY(20px);
  color: whitesmoke;
}

/*
Classes below will help with rendering random
background colors for the extra credit
*/
.navy {
  background-color: #1F2937;
}

.pink {
  background-color: #DA6AEC;
}

.red {
  background-color: #F43F5E;
}

.blue {
  background-color: #2F74DC;
}

.green {
  background-color: #22CD90;
}

